<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Layout básico</title>
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Acerca de</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<!-- Seccion principal -->
		<section class="main">
			<div class="imagen">
				<img src="img/background.jpg" alt="Imagen del artículo">
			</div>
			<section class="posts">
				<article>
					<h2>Título del Artículo</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia illo delectus, vitae esse, maiores consequuntur quis voluptate autem! Officiis atque quaerat a ab veniam corporis accusamus non cum itaque autem!
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea ducimus, quasi ipsa sequi nobis laborum magnam recusandae nisi, maiores maxime placeat. Expedita adipisci ratione molestias voluptatem rem unde officia.
					</p>
				</article>
			</section>
		</section>

		<!-- Barra Lateral -->
		<aside>
			<div class="widget">
				<h3 class="titulo">Artículos destacados</h3>
				<ul>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
					<li><a href="">Lorem ipsum dolor sit amet</a></li>
				</ul>
			</div>

			<div class="widget">
				<h3 class="titulo">información</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, nesciunt aut quis amet magnam eum. Accusantium magnam fugiat saepe temporibus, facilis magni alias molestias exercitationem quo fuga hic cupiditate at.</p>
			</div>
		</aside>

		<footer>
			<p>Johan Mosquera 2018 &copy - Todos los derechos reservados</p>
		</footer>
	</div>
</body>
</html>