a {
	font-size: 20px;
	text-decoration: none;
}

/*Estado del enlace cuando se pasa el mouse por encima*/
a:hover {
	background: #f9a03f;
	color: #fff;
}

/*Enlace sin visitar*/
a:link {
	text-decoration: none;
}

/*Enlace visitado*/
a:visited {
	text-decoration: line-through;
}

/*Estado del enlace cuando se da clic*/
a:active {
	text-decoration: underline;
}