/*
Cosas que podemos hacer con transform:
- Trasladar elementos
- Escalar Elementos
- Rotar Elementos
- Sesgar Elementos
*/

.caja {
	background: #ffaa5a;
	width: 200px;
	height: 200px;
	/*transform: translate(200px, 50px);*/
	/*transform: scale(1,1);*/
	/*transform: rotate(20deg);*/
	/*transform: skew(20deg, 0deg);*/

	/*Podemos colocar varias valores en una sola propiedad*/
	transform: translate(200px) scale(1.5, 1.5) rotate(10deg);
}